$logoColor: #01403A;
$primaryColor: #025951;
$secundaryColor: #1CA67F;
$tertiaryColor: #84D9C1;
$quartiaryColor: #262221;


$titleHead: 'Rubik', sans-serif;
$titleFont: 'Fjalla One', sans-serif;
$textFont: 'Poppins', sans-serif;

$phone: 420px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
