<main>
  <div class="container">
    <h1>Rervas</h1>
    <div class="layout">
      <form action="">
        <fieldset>
          <legend>Resevar tu Habitación:</legend>
          <label for="id">Id de habitación:</label>
          <input type="text" id="id" required>

          <label for="fecha-ingreso">Fecha de Ingreso:</label>
          <input type="date" id="fecha-ingreso" required>

          <label for="fecha-ingreso">Fecha de Salida:</label>
          <input type="date" id="fecha-ingreso" required>

          <label for="n-adultos">Numero de Adultos:</label>
          <input type="text" id="n-adultos" required>

          <label for="n-ninos">Numero de niños:</label>
          <input type="text" id="n-ninos" required>

          <label for="neto">Costo de la reserva:</label>
          <input type="number" id="n-ninos" disabled>
       </fieldset>
       <button class="button" type="submit">Enviar</button>


     </form>
    </div>
  </div>
</main>
