<footer>
  <div class="container">
  <div class="layout">

    <nav>
      <li> <h4>Servicios</h4> </li>
      <li routerLinkActive="active"> <a class="link"  routerLink="home">Home</a> </li>
      <li routerLinkActive="active"> <a class="link"  routerLink="habitaciones">Habitaciones</a> </li>
      <li routerLinkActive="active"> <a class="link"  routerLink="reservas">Rervas</a> </li>
    </nav>

    <address>
     <li> <h4>Nuestras Sedes</h4> </li>
     <li> <strong>Bogota:</strong> </li>
     <li>Cr 21 a 3-24</li>
     <li> <strong>Medellín:</strong> </li>
     <li> Cr 46 C 75 sur 09</li>
    </address>

    <section class="redes">
      <li> <h4>Redes</h4> </li>
      <figure>
        <a href="https://www.facebook.com/nickresortrivieramaya" target="_blank">
          <img loading="lazy" src="../../../assets/img/icon-fb.svg" alt="icono/facebook" width="35" height="35">
          </a>
        <a href="https://www.instagram.com/nickelodeonhotelsandresort/" target="_blank">
          <img loading="lazy" src="../../../assets/img/icon-ig.svg" alt="icono/instagram" width="35" height="35">
          </a>
        <a href="https://twitter.com/NickRivieraMaya" target="_blank">
          <img loading="lazy" src="../../../assets/img/icon-tw.svg" alt="icono/twitter" width="35" height="35">
        </a>
        </figure>
    </section>

    <section>
      <li> <h4>Preguntas</h4> </li>
      <li> <a class="link" href="../../../assets/img/ha-ha-point.gif" target="_blank">Quienes Somos</a> </li>
      <li> <a class="link" href="../../../assets/img/ha-ha-point.gif" target="_blank">Atención al Cliente</a> </li>
      <li> <a class="link" href="../../../assets/img/ha-ha-point.gif" target="_blank">Como Trabajamos</a> </li>
      <li> <a class="link" href="../../../assets/img/ha-ha-point.gif" target="_blank">Terminos y condiciones</a> </li>
    </section>


  </div>
</div>
</footer>
